/*Titulos*/
.title--h1{
    font-family: 'Ibarra Real Nova', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.446429px;  
    color: #33323D;
}
.title--h2{
    font-family: 'Ibarra Real Nova', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
}
.title--h3{
    font-family: 'Ibarra Real Nova', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px; 
    letter-spacing: -0.285714px;   
    color: #33323D;
}

/*Textos*/
.text{
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
}
.text-size--small{
    font-size: 15px;
}

/*Links*/
.link{
    font-family: 'Public Sans', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;    
}

/*Pesos de fontes*/
.font-weight--bold{
    font-weight: bold;
}

/*Opacidade*/
.opacity--0_5{
    opacity: 0.5;
}