.header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    padding: 0 165px;
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}